<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить преподавателя</title>
    <style>
        .form{
            margin:0 auto;
            max-width:95%;
            box-sizing:border-box;
            padding:40px;
            border-radius:5px;
            background:RGBA(255,255,255,1);
            -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
            box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
        }
    </style>
    <script>
        function agreeForm(id) {
            // Если поставлен флажок, снимаем блокирование кнопки
            if (document.getElementById(id).checked) document.getElementById("username").disabled = 1
            // В противном случае вновь блокируем кнопку
            else document.getElementById("username").disabled = 0
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Дистанционное обучение</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/department}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/department/group}">Группы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{~/department/list}">Список предметов</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="py-5 text-center">
        <h2>Добавление преподавателя</h2>
        <p class="lead">Заполните поля и нажмите кнопку 'Добавить преподавателя'</p>
    </div>
    <form class="form" enctype="multipart/form-data"  th:action="@{/department/add_teacher}" th:object="${teacher}" method="post"
          novalidate>
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-3">Поля для заполнения</h4>

                <div class="row">

                    <div class="col-md-4 mb-3">
                        <label for="lastName">Фамилия</label>
                        <input th:field="*{lastName}" type="text" onkeyup="this.value=this.value.replace(/\s+/gi,'')" class="form-control" id="lastName" placeholder=""
                               value="" required>
                        <small class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{lastName}"/>
                    </div>


                    <div class="col-md-4 mb-3">
                        <label for="firstName">Имя</label>
                        <input th:field="*{firstName}" type="text" onkeyup="this.value=this.value.replace(/\s+/gi,'')" class="form-control" id="firstName" placeholder=""
                               value="" required>
                        <small class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{firstName}"/>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="patronymic">Отчество</label>
                        <input th:field="*{patronymic}"  type="text" onkeyup="this.value=this.value.replace(/\s+/gi,'')" class="form-control" id="patronymic" placeholder=""
                               value="" required>
                        <small class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{patronymic}"/>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="position">Должность</label>
                    <input th:field="*{position}" id="position" type="text" class="form-control" />
                    <small class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{position}"/>
                </div>
                <div class="form-group mb-3">
                    <label for="username">Логин</label>
                    <input th:field="*{username}"  type="text" class="form-control" id="username" placeholder=""
                           value="" required>
                    <input type="checkbox" name="active" id="generatedUsername" onclick="agreeForm('generatedUsername')" th:field="*{generatedUsername}" th:value="true"/>
                    <label for="generatedUsername">Генерация логина по ФИО</label></br>
                    <small class="text-danger" th:if="errorUsername" th:text="${errorUsername}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{username}"/>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Пароль</label>
                    <input th:field="*{password}" id="password" type="password" class="form-control" />
                    <small class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{password}"/>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Добавить преподавателя</button>
    </form>
</div>
</body>
</html>