<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Дистанционное обучение</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/teacher}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{~/teacher/teacher_post}">Посты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/teacher/home_work}" >Домашнее заданее</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="py-5 text-center">
        <h2>Управление постами для(<span th:text="${thisSubject.nameSubject}+', '+${thisSubject.group.nameGroup}"></span>)</h2>
        <p class="lead">На данной странице вы можете редактировать посты для групп</p>
    </div>
    <form method="post" enctype="multipart/form-data" th:action="@{'/teacher/edit_post/'+${teacherPost.subject.id}}" th:each="teacherPost:${allTeacherPost}">
        <div class="row">
            <div class="col">
                <h2>Пост #<span th:text="${teacherPost.id}"></span></h2>
            </div>
            <div class="col col-lg-3">
                <a th:href="@{'/teacher/delete_post/'+${teacherPost.id}+'/'+${teacherPost.subject.id}}" class="btn btn-lg btn-block btn-outline-primary " role="button"
                   aria-disabled="true">Удалить пост</a>
            </div>
        </div>
        <label for="post" >Введите текст поста:</label>
        <textarea name="post" id="post" rows="8" class="form-control mb-3" th:text="${teacherPost.getText()}"></textarea>
        <input type="hidden" name="idTeacherPost" th:value="${teacherPost.id}">
        <div class="col-12">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Файлы(max=5):</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s3file : ${teacherPost.getListFile()}">
                <td th:text="${s3file.name}"/>
                <td><a th:href="@{'/download/'+ ${s3file.name}}"> Download </a></td>
                <td><a th:href="@{'/delete/'+ ${s3file.name}+'/'+${teacherPost.subject.id}+'/'+${s3file.id}}"> Delete </a></td>
            </tr>
            </tbody>
        </table>
            <input type="file" name="file" th:id="${teacherPost.id}" onchange='showFileSize(this.id);' class="form-control-file mb-4">
        </div>
        <div class="form-group mb-3">
            <label for="inputState">Предмет,группа:</label>
            <select id="inputState" class="form-control" name="subjectId" >
                <div th:each="subject:${listSubject}">
                    <option  th:value="${subject.id}" th:if="${teacherPost.getSubject().id==subject.id}" selected><span th:text="${subject.nameSubject}"/>, <span th:text="${subject.group.nameGroup}"/></option>
                    <option  th:value="${subject.id}" th:if="${teacherPost.getSubject().id!=subject.id}" ><span th:text="${subject.nameSubject}"/>, <span th:text="${subject.group.nameGroup}"/></option>
                </div>
            </select>
        </div>

        <button class="btn btn-primary btn-lg btn-block mb-4" type="submit" value="Submit">Редактировать</button>
        <hr class="mb-5" align="center" width="90%" size="50" color="#dddddd" />
    </form>

</div>
<script type='text/javascript'>
    function showFileSize(id) {
        var input, file;

        input = document.getElementById(id);
        file = input.files[0];

        if(file.size>=5242880){
            input.value="";
            alert("File too Big, please select a file less than 5mb");
        }
    }


</script>
</body>
</html>