<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание</title>
    <style>
        .form{
            margin:0 auto;
            max-width:95%;
            box-sizing:border-box;
            padding:40px;
            border-radius:5px;
            background:RGBA(255,255,255,1);
            -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
            box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Дистанционное обучение</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/teacher}" >Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/teacher/teacher_post}">Посты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" >Домашнее задание</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="py-5 text-center">
        <h2>Управление домашними заданиями</h2>
        <p class="lead">На данной странице вы можете добавить, редактировать домашние задания для группы</p>
    </div>
    <div th:each="subject : ${allSubject}">
        <div class="row">
            <div class="col col-lg-4 mb-4">
                <h2 th:text="${subject.getNameSubject()}"></h2>
            </div>
            <div class="col col-lg-4 mb-4">
                <h2 th:text="${subject.group.nameGroup}"></h2>
            </div>
            <div class="col col-lg-4 mb-4" >
                <a th:href="@{~/teacher/all_homework(id=${subject.id})}" class="btn btn-lg btn-block btn-outline-primary " role="button"
                   aria-disabled="true">Посмотреть все задания</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>